html {
  // font-size: calc(0.4em + 1vmin);
  height:100%;
}

body {
  background-color: #343838;
  overflow: hidden;
  color: #FFFFFF;
  height:100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-display: auto;
}
